{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block body %}
<section class="product_page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product_img">
                                <img src="{{ product.images.first.image.url }}" alt="product_img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product_img">
                                <img src="{{ product.images.first.image.url }}" alt="product_img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product_img">
                                <img src="{{ product.images.first.image.url }}" alt="product_img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product_img">
                                <img src="{{ product.images.first.image.url }}" alt="product_img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product_img">
                                <img src="{{ product.images.first.image.url }}" alt="product_img">
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="product_info">
                    <h2 class="product_name">Светильник {{ product.name}}</h2>
                    <p class="product_descr">
                        {{ product.description|safe}}
                    </p>
                    <p class="product_price">
                        {{ product.price}}₽
                        <a href="#product_assets">Заказать</a>
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="product_assets" id="product_assets">
                    <li data-name="spec">Характеристики</li>
                    {#                            <li data-name="descr"></li>#}
                </ul>
                <div class="product_assets-item" data-name="spec">         
<p><span style="font-size:15px"><span style="color:black"><strong><span style="font-family:Cambria,serif">Высота корпуса лампы: 3,5 м.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Размер корпуса лампы：150*100*3.0MM<br>
    Толщина столба：250×200MM<br>
    Размер светящего элемента：180×140MM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Защитная сетка - диаметр отверстия 18 мм<br>
    Материал корпуса лампы：6063Высококачественный алюминиевый профиль<br>
    Мощность：30W<br>
    Цветовая температура лампы：3000K/4000K/6000K<br>
    Цвет светодиодной полосы：Синий / красный / зеленый / розовый / белый / теплый белый<br>
    Чип：Philips<br>
    Источник питания：переменный ток&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Входящее напряжение：AC85V-265V<br>
    Класс защиты：IP65<br>
    Гарантия на источник света: 2 года&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Цвет корпуса лампы: глубокий пепельный, легкий пепельный, черный&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Доставка, налог и упаковка в цену не включена</span></strong></span></span></p>                
                </div>
                {#                    <div class="product_assets-item" data-name="descr">#}
                {#                        #}
                {#                    </div>#}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="product_order" id="product_order">
                    <h3>Быстрый заказ</h3>
                    <form method="post" action="{% url 'send' %}" id="send_post">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ product.pk }}">
                        <div class="input_block">
                            <p>Имя</p>
                            <input type="text" name="name">
                        </div>
                        <div class="input_block">
                            <p>Почта</p>
                            <input type="text" name="email">
                        </div>
                        <div class="input_block">
                            <p>Телефон</p>
                            <input type="text" class="mask-phone" name="phone">
                        </div>
                        <button>Заказать</button>
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock %}